@using Radzen
@using Radzen.Blazor
@using RadzenComponents.Services

@inject HttpClient Http

<div class="form-group">
    <label for="@_id">Municipios</label>
    <RadzenAutoComplete class="form-control"
        Placeholder="Escriba el nombre de un municipio"
        Value=@_searched
        Change="@OnChange"
        Data=@Municipalalities
        TextProperty="Name" 
        FilterOperator="StringFilterOperator.Contains"
        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
        />

    <p><b>Usted esta buscando por: </b>@_searched</p>
</div>