@using Radzen
@using Radzen.Blazor

<div class="form-group">
    <label for="@_id">Ciudades</label>
    <RadzenAutoComplete class="form-control"
        Placeholder="Escriba el nombre de una ciudad"
        Value=@_searched
        Change="@OnChange"
        Data=@Cities
        TextProperty="Name" 
        FilterOperator="StringFilterOperator.Contains"
        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
        />

    <p><b>Usted esta buscando por: </b>@_searched</p>
</div>